* {
  box-sizing: border-box;

}
html {
  background-color: #FCFCFC;
  font-family: 'Irish Grover', cursive;
  font-size: 18px;
}

h1 {
  text-align: center;
}

#content {
  width: 500px;
  margin: 0 auto;
}

/* .game-button:active {
  opacity: .5;
} */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

svg {
  width: 500px;
}

.game-button, .control-button {
  cursor: pointer;
}

.control-button:hover {
  opacity: .5;
}

@keyframes light-up {
  0% {
      opacity: .5;
  }
  100% {
      opacity: 1;
  }
}
